<link rel="stylesheet" href="/nav.css" />
<nav>
  <div id="nav-builder-header">
    <div id="nav-builder-title">MTG Deck Builder</div>
  </div>

  <ul id="nav-list">
    <li class="nav-icon">
      <a href="/create"><i class="bx bxs-file-plus"></i></a>
    </li>
    <li class="nav-icon">
      <a href="/decks"><i class="bx bx-home-alt"></i></a>
    </li>
    <li id="nav-user-icon" class="nav-icon">
      <button id="nav-user-icon-btn">
        <i class="bx bxs-user-circle"></i>
      </button>
      <div id="nav-user-menu">
        <a class="nav-user-menu-item" href="#">
          <i class="bx bxs-user-circle"></i> Profile
        </a>
        <a class="nav-user-menu-item" href="#">
          <i class="bx bxs-toggle-right"></i> Settings
        </a>
        <a class="nav-user-menu-item" href="/logout">
          <i class="bx bx-upload bx-rotate-90"></i> Log Out
        </a>
      </div>
    </li>
  </ul>
</nav>
