<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTG Deck Tester - Create a new Standard deck</title>

    <link href="/create/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/create/app.js"></script>
  </head>
  <body>

    <!--preloader-->
    <div id="preloader">
      <div id="preloader-label">Loading</div>
      <span class="preloader-dot" style="--i: 1;">.</span>
      <span class="preloader-dot" style="--i: 2;">.</span>
      <span class="preloader-dot" style="--i: 3;">.</span>
      <div id="preloader-error" class="hidden">There was and error loading your decks.<a href="/decks">Back to decks</a></div>
    </div>

    <nav>
      <div id="dropdown-container">
        <div class="dropdown">
          <div class="dropdown-btn">Edit</div>
          <div class="dropdown-content">
            <div class="dropdown-item shortcut-container">Undo <span class="dropdown-shortcut">Ctrl + Z</span></div>
            <div class="dropdown-item shortcut-container">Redo <span class="dropdown-shortcut">Ctrl + Y</span></div>
            <div class="dropdown-item shortcut-container">Save <span class="dropdown-shortcut">Ctrl + S</span></div>
            <div class="dropdown-item shortcut-container">Export Deck <span class="dropdown-shortcut">Ctrl + Shift + E</span></div>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-btn">View</div>
          <div class="dropdown-content">
            <div class="dropdown-item dropdown-view" data-type='class' data-element='card-type-title'>Headers<i class="bx bxs-show"></i></div>
            <div class="dropdown-item dropdown-view" data-type='toggle' data-element='.display-column' data-value='collapsed-view'>Add/Remove<i class="bx bxs-show"></i></div>
            <div id="columns-dropdown" class="dropdown-item dropdown-side-view">
              Columns
              <i class="bx bx-chevron-right"></i>
              <div class="dropdown-content dropdown-side-content">
                <div class="dropdown-item dropdown-radio radio-selected" data-value="3"><i class="bx bxs-circle"></i>3</div>
                <div class="dropdown-item dropdown-radio" data-value="4"><i class="bx bxs-circle"></i>4</div>
                <div class="dropdown-item dropdown-radio" data-value="5"><i class="bx bxs-circle"></i>5</div>
                <div class="dropdown-item dropdown-radio" data-value="6"><i class="bx bxs-circle"></i>6</div>
              </div>
            </div>
            <div class="dropdown-item" id="dropdown-background-btn">Change Background</div>
          </div>
        </div>
        <div id="save-msg">Saved</div>
      </div>
      <div id="nav-title" class="glow">MTG Deck Tester</div>
      <div id="link-container">
        <a href="/">HOME</a>
        <a href="/create">CREATE</a>
        <a href="/decks">DECKS</a>
      </div>
    </nav>

    <!--main section-->
    <div id="main-section">
      <!--info section-->
      <div id="info-section">
        <div id="info-header">
          <h2 id="info-title">DECK INFO</h2>
          <div id="info-collapse-btn"><i class="fa fa-bars"></i></div>
        </div>
        <form id="info-form" onsubmit="event.preventDefault();">
          <input
            type="text"
            class="info-input"
            id="deck-name-input"
            placeholder="Deck name"
          />
          <br />
          <div id="color-label"></div>

          <!--format select-->
          <div id="format-count-container">
            <select
              id="format-option"
              placeholder="format"
              class="info-input"
            ></select>
            <div id="count-info-container">
              <span id="card-count-info">45</span>
              /
              <span id="count-max-info">60</span>
            </div>
          </div>
          <textarea
            name=""
            id="description-input"
            cols="30"
            rows="8"
            class="info-input"
            placeholder="Description"
          ></textarea>
        </form>

        <div id="collapsed-info" class="hidden">
          <div id="color-collapsed-info"></div>
          <div id="format-collapsed-info"></div>
          <div id="card-count-collapsed-info">
            <div id="collapsed-count-info">5</div>
            <hr />
            <div id="collapsed-count-max-info">60</div>
          </div>
        </div>
      </div>

      <!--display section-->
      <div id="display-section">
        <!-- this is all test html-->
        <div id="card-display-container">
          <div id="display-flex">
            <div id="display-column-0" class="display-column">
              <div id="commander-info-container" class="hidden clearfix">
                <div id="commander-flex">
                  <img src="https://cards.scryfall.io/normal/front/7/5/755cf134-e91e-4aa4-be44-b7a53a7f9e20.jpg?1743207218" alt="Commander" class="commander-display-image" data-name="Sidar Kondo of Jamuraa" data-order="0">
                  <img src="https://cards.scryfall.io/normal/front/a/6/a6fd7a8c-e0cd-4fb5-b492-8f3ef7579682.jpg?1743206070" alt="Partner" class="commander-display-image hidden" data-name="Ikra Shidiqi, the Usurper" data-order="1">
                </div>
                <h1 id="commander-header">COMMANDER</h1>
              </div>
              <div
                id="creature-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">CREATURES</h1>
                
              </div>

              <div
                id="planeswalker-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">PLANESWALKERS</h1>
              </div>
            </div>

            <div id="display-column-1" class="display-column">
              <div
                id="artifact-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">ARTIFACTS</h1>
              </div>

              <div
                id="enchantment-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">ENCHANTMENTS</h1>
              </div>

              <div
                id="instant-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">INSTANTS</h1>
              </div>
            </div>

            <div id="display-column-2" class="display-column">
              <div
                id="sorcery-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">SORCERYS</h1>
              </div>

              <div
                id="land-display-container"
                class="card-type-container hidden clearfix"
              >
                <h1 class="card-type-title">LANDS</h1>
              </div>
            </div>

            <div id="display-column-3" class="display-column hidden"></div>
            <div id="display-column-4" class="display-column hidden"></div>
            <div id="display-column-5" class="display-column hidden"></div>
          </div>
          
        </div>
        <div id="sideboard-section">
            <div id="sideboard-tab"><div>SIDEBOARD</div> <i id="sideboard-btn" class="bx bx-chevron-up"></i></div>
          <div id="sideboard-container" class="collapsed-view">
            <div id="sideboard-display-container" class="card-type-container clearfix">
              <h1 class="card-type-title">SIDEBOARD</h1>
            </div>
          </div>
        </div>
        <script src="/create/loader.js"></script>

            

        <img id="drag-image" class="card-image hidden"></img>

        <!--right click image menu-->
        <div id="display-modal-container">
          <div id="image-menu" class="context-menu">
            <div id="image-menu-plus" class="image-menu-item context-menu-item">Add One</div>
            <div id="image-menu-minus" class="image-menu-item context-menu-item">Remove One</div>
            <div id="image-menu-remove" class="image-menu-item context-menu-item">
              Remove From Deck
            </div>
            <div id="image-menu-commander" class="image-menu-item context-menu-item">
              Set As Commander
            </div>
            <div id="image-menu-partner" class="image-menu-item context-menu-item">Add As Partner</div>
          </div>
          <div id="commander-menu" class="context-menu">
            <div id="commander-menu-remove" class="context-menu-item">Remove</div>
          </div>
        </div>
      </div>

      <!--search section-->
      <div id="search-section">
        <h2>CARD SEARCH</h2>
        <form id="search-form">
          <div id="scryfall-input" class="info-input" contenteditable="true" spellcheck="false"></div>
          <input type="submit" id="search-submit" value="Search" class="hidden">
          <p id="search-err"></p>
        </form>
        <!--searching animation-->
        <div id="search-loading-container" class="hidden">
          <div id="search-loading-anim">
            <div style="--i: 1"></div>
            <div style="--i: 2"></div>
            <div style="--i: 3"></div>
          </div>
          <div id="loading-label">Searching...</div>
        </div>

        <!--no cards found screen-->
        <div id="no-cards-container" class="hidden">
          <div id="no-cards-icon"><i class="fa fa-question-circle-o"></i></div>
          <div id="no-cards-label">No Cards Found</div>
        </div>
        <!--<div id="search-results"></div>-->
      </div>
    </div>

    <!--modal section-->
    <div id="modal-section" class="hidden">
      <div id="card-viewer-container" class="hidden">
        <div class="card-viewer-count-row">
          <div class="card-viewer-input-label">CARD COUNT:</div>
          <input
            type="number"
            class="card-viewer-count-input"
            value="4"
            min="0"
          />
          <div class="card-viewer-spacer">II</div>
          <div class="card-viewer-close-btn">&times;</div>
        </div>
        <img
          src="https://cards.scryfall.io/png/front/b/c/bc6ffc1c-575b-4116-83c9-d13b29886c35.png?1730491066"
          alt="Aurelia, the Warleader"
          class="card-viewer-image"
        />
      </div>
      <div id="settings-container" class="hidden">
        <div id="settings-header">
            <div id="settings-header-offset" style="visibility: hidden;">&times;</div>
            <h1 id="settings-title">Settings</h1>
            <div id="settings-close-btn">&times;</div>
        </div>
        <div id="settings-flex">
          <div id="settings-tab-container">
            <div id="settings-tab-layout" class="settings-tab">Layout</div>
            <div id="settings-tab-view-options" class="settings-tab">View Options</div>
            <div id="settings-tab-background" class="settings-tab selected">Background</div>
          </div>
          <div id="settings-options-container">
            <div id="settings-layout" class="settings-option">
              <div class="setting-header">Layout</div>
            </div>
            <div id="settings-view-options" class="settings-option">
              <div class="setting-header">View Options</div>
            </div>
            <div id="settings-background" class="settings-option selected">
              <div class="setting-header">Background</div>
              <div id="background-image-container">
                <!--<div class="background-image-wrap selected"><div class="background-img" style="--url:url('');"></div></div>-->
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
