<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTG Deck Tester - Your Decks</title>

    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./app.js" defer></script>
  </head>
  <body>
    <%- include('partials/nav'); -%>


    <div id="main-container">
      <div id="tools-column">
        <div id="create-btn">Create <i class="bx bx-plus"></i></div>
        <div class="tool-column-item current-page">
          <i class="bx bx-list-ul"></i> My Decks
        </div>
        <div class="tool-column-item">
          <i class="bx bx-time-five"></i> Recent
        </div>
        <!--<div class="tool-column-item">
          <i class="bx bx-import"></i> Import Deck
        </div>-->
        <div class="tool-column-item">
          <i class="bx bx-collection"></i> Collection
        </div>
        <div class="tool-column-item"><i class="bx bxs-cog"></i> Settings</div>
        <div class="tool-column-item">
          <i class="bx bx-info-circle"></i> Info
        </div>
        <div class="tool-column-item">
          <i class="bx bx-help-circle"></i> Help
        </div>
      </div>
      <div id="decks-column">
        <h1>Welcome, <span id="username-welcome"><%= user.username %></span></h1>
         
        <div id="center-msg-container">
        <% if (user.decks.length > 0) { %>
            <script src="./loader.js"></script>
            <div id="loading-msg" class="center-msg">Loading Decks</div>
            <div id="loading-err-msg" class="center-msg hidden">There was an error retreiving decks. Unable to load your decks. Please try again latter. </div>

        <% } else { %>
            <div id="no-decks-container" class="center-msg">
              <div id="no-decks-text">It looks like you don't have any decks yet. Create a new deck to get started. </div>
              <div id="create-load-btn-container">
                <a id="create-from-blank" href="/create">Create New</a>
                <div id="create-from-load">Load Deck</div>
              </div>
            </div>
            <div id="error-msg-container" class="hidden">
              <div id="error-msg"></div>
              <div id="error-back">Okay</div>
            </div>
        <% } %>
        </div>
      </div>
    </div>

    <input type="file" name="file" id="deck-file-load" accept="application/json">
  </body>
</html>
