<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTG Deck Tester - Your Decks</title>

    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./app.js" defer></script>
  </head>
  <body>
    <%- include('partials/nav'); -%>


    <div id="main-container">
      <div id="tools-column">
        <div id="create-btn">Create <i class="bx bx-plus"></i></div>
        <div class="tool-column-item current-page">
          <i class="bx bx-list-ul"></i> My Decks
        </div>
        <div class="tool-column-item">
          <i class="bx bx-time-five"></i> Recent
        </div>
        <!--<div class="tool-column-item">
          <i class="bx bx-import"></i> Import Deck
        </div>-->
        <div class="tool-column-item">
          <i class="bx bx-collection"></i> Collection
        </div>
        <div class="tool-column-item"><i class="bx bxs-cog"></i> Settings</div>
        <div class="tool-column-item">
          <i class="bx bx-info-circle"></i> Info
        </div>
        <div class="tool-column-item">
          <i class="bx bx-help-circle"></i> Help
        </div>
      </div>
      <div id="decks-column">
        <h1>Welcome, <span id="username-welcome"><%= user.username %></span></h1>
        
        <div id="decks-tool-bar">
          <div id="search-container">
            <i class="bx bx-search"></i>
            <input
              type="text"
              id="deck-search"
              placeholder="Search decks..."
            />
            <i class="bx bx-x" id="clear-search"></i>
            <i class="bx bx-import" id="load-deck"></i>
          </div>
          <div id="sort-container">
            Sort by:
            <select id="sort-select">
              <option value="recent" selected>Recent</option>
              <option value="name">Name</option>
              <option value="format">Format</option>
              <option value="color">Color</option>
              <option value="legal">Legal</option>
            </select>
            <i class="bx bx-sort-up" id="sort-direction"></i>
          </div>
        </div>

        <div id="center-msg-container">
        <% if (user.decks.length > 0) { %>
            <script src="./loader.js"></script>
            <div id="loading-msg" class="center-msg">Loading Decks</div>
            <div id="loading-err-msg" class="center-msg hidden">There was an error retreiving decks. Unable to load your decks. Please try again latter. </div>

        <% } else { %>
            <div id="no-decks-container" class="center-msg">
              <div id="no-decks-text">It looks like you don't have any decks yet. Create a new deck to get started. </div>
              <div id="create-load-btn-container">
                <a id="create-from-blank" href="/create">Create New</a>
                <div id="create-from-load">Load Deck</div>
              </div>
            </div>
            <div id="error-msg-container" class="hidden">
              <div id="error-msg"></div>
              <div id="error-back">Okay</div>
            </div>
        <% } %>
        </div>
      </div>
    </div>

    <input type="file" name="file" id="deck-file-load" accept="application/json">

    <!--delete deck dialog-->
    <div id="delete-deck-dialog" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Deck</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>Warning!</strong> This action is irreversible. Are you sure you want to delete deck "<span id="delete-deck-name" class="modal-deck-name"></span>"?</p>
            <p class="error"></p>
          </div>
          <div class="modal-footer">
            <button type="button" id="delete-deck-cancel-btn" class="cancel-btn btn btn-outline-secondary modal-close-btn" data-bs-dismiss="modal">Close</button>
            <button type="button" id="delete-deck-btn" class="btn btn-outline-warning" data-deck-id="${ deck._id }">Delete Deck</button>
          </div>
        </div>
      </div>
    </div>
    
    <!--share dialog-->
    <div id="share-dialog" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="share-dialog-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="share-dialog-label">Share Deck</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="share-row" class="d-flex align-items-center">
              <div>Copy link: </div>
              <div id="share-link" class="flex-grow-1 flex-shrink-1"></div>
              <!--<i id="copy-share-link" class="bx bx-copy" data-share-link=""></i>-->
              <i id="copy-share-link" class="bi bi-clipboard" data-share-link=""></i>
            </div>
            <p>Anyone with this link can view deck "<span class="modal-deck-name"></span>". </p>
            <p class="error"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
