@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/liberation-mono');

:root {
    --ease-out-sine: cubic-bezier(0.39, 0.58, 0.57, 1);
    --ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --ease-in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Arial", sans-serif;
}

/*
The dimensions of a Magic card are 66x83

whole number widths are
66 (x1)
132 (x2)
198 (x3) 8 px
231 (x3.5) 10 px
264 (x4) 12 px
*/

html,
body {
  height: 100%;
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #111;
  border: 2px solid rgb(0, 0, 0, 0.05);
}

body {
  overscroll-behavior-y: none;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: white;
  position: relative;
}

body.dragging {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  user-select: none;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 2.8em;
  color: #777;
  font-weight: bold;
}

#preloader.finished {
  animation: preloader-fadeout 1s var(--ease-out-cubic) forwards;
  display: none;
  opacity: 0;
}

.preloader-dot {
  animation: preloader-animation 2.5s ease-in-out infinite calc(var(--i) * 0.3s);
  opacity: 0;
}

@keyframes preloader-fadeout {
  0% {
    opacity: 1;
    display: flex;
  }
  99% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes preloader-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  35% {
    opacity: 1;
    transform: translateY(0);
  }
  65% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#preloader-error {
  color: #e22;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preloader-error a {
  display: inline-block;
  margin-top: 12px;
  font-size: 0.6em;
  color: #777;
  border-radius: 5px;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 0.6em;
  background-color: rgba(100, 100, 100, 0.1);
  transition: background-color 0.2s ease;
}

#preloader-error a:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #111;
  padding: 3px 4vh 3px 2vh;
  flex-grow: 0;
}

#nav-title {
  font-size: 12pt;
  margin-right: auto;
}

#dropdown-container {
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  align-items: center;
}

.dropdown {
  margin-right: 10px;
  color: white;
  transition: color 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
}

#dropdown-container.focused>.dropdown>.dropdown-content:hover,
#dropdown-container.focused>.dropdown:hover>.dropdown-content,
.dropdown-side-view.focused:hover>.dropdown-side-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  left: -4px;
  top: 100%;
  background-color: #111;
  color: white;
  border-radius: 5px;
  padding: 4px 2px;
  transition: all 0.3s ease;
  z-index: 1;
  display: none;
  font-size: 11pt;
}

.dropdown-content.dropdown-side-content {
  left: 100%;
  top: 0px;
}

.dropdown-btn {
  font-size: 11pt;
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
  padding: 2px 10px;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 500;
}

.dropdown-btn:hover {
  background-color: #222;
}

.dropdown-item {
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 5px;
  min-width: 140px;
  font-size: 11pt;
  position: relative;
  white-space: nowrap;
}

.dropdown-item.shortcut-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-shortcut {
  font-size: 10pt;
  color: #888;
  margin-left: 20px;
}

.dropdown-view,.dropdown-side-view,.dropdown-radio {
  display: flex;
  align-items: center;
}

.dropdown-radio>i {
  margin-right: auto;
  color: transparent;
  font-size: 8pt;
}

.dropdown-radio.radio-selected>i {
  color: #666;
}

#columns-dropdown>.dropdown-content>.dropdown-radio {
  min-width: 80px;
}

.dropdown-view>i,.dropdown-side-view>i {
  display: block;
  margin-left: auto;
  color: #888;
  font-size: 14pt;
}

.dropdown-view>i:hover,.dropdown-side-view>i:hover {
  color: #aaa;
}

.dropdown-item:hover {
  background-color: #222;
}

#save-msg {
  font-size: 11pt;
  color: #bbb;
  height: fit-content;
}

#link-container {
  display: flex;
  justify-content: space-around;
}

#link-container > a {
  text-decoration: none;
  font-size: 11pt;
  margin-left: 30px;
  font-weight: bold;
  color: white;
  transition: color 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
}

#link-container > a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -1px;
  left: 50%;
  background-color: #eb3324;
  height: 3px;
  transition: width 0.2s ease, left 0.2s ease-out;
}

#link-container > a:hover::after {
  /*color: #eb3324;*/
  width: 100%;
  left: 0px;
}

#main-section {
  display: flex;
  align-items: top;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#info-section {
  border-right: 2px solid #111;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  max-width: 240px;
  min-width: 200px;
  background-color: #111;
  padding: 4px;
  flex-shrink: 0;
}

#info-section.info-section-collapsed {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

#info-header {
  width: 100%;
  display: flex;
  align-items: center;
}

#info-title {
  flex-grow: 1;
}

#info-collapse-btn {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18pt;
  cursor: pointer;
  transition: color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#info-collapse-btn > i:hover {
  color: #eb3324;
}

#info-section > form > * {
  margin-top: 6px;
  max-width: 100%;
}

#format-count-container {
  display: flex;
  width: 100%;
  align-items: center;
}

#format-option {
  /*flex-grow: 1;*/
}

#count-info-container {
  font-size: 14pt;
  font-weight: 600;
  flex-shrink: 0;
  padding-left: 6px;
  padding-top: 6px;
}

#card-count-info {
  margin-right: -2px;
}

#count-max-info {
  margin-left: -2px;
}

h2 {
  margin-top: 4px;
  width: fit-content;
}

.card-viewer-count-input,
.info-input {
  background-color: #222;
  border: 2px solid #777;
  color: #ddd;
  border-radius: 5px;
  width: 100%;
  padding: 4px;
  outline: none;
  font-weight: bold;
  margin-top: 6px;
  transition: all 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card-viewer-count-input:hover,
.card-viewer-count-input:focus,
.info-input:hover,
.info-input:focus {
  background-color: #333;
  border: 2px solid #aaa;
}

#color-label {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -5px;
}

#commander-info-container {
  padding: 1.2em 1.2em 0.4em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
}

#commander-info-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#commander-flex {
  display: flex;
}

.commander-display-image {
  width: 231px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 0;
  /*transition: translate 0.1s ease-out, box-shadow 0.1s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);*/
}

.commander-display-image:nth-child(2) {
  margin-left: -200px;
}

.partner-top {
  z-index: 1;
}

#commander-header {
  font-size: max(0.8em, 2.8vh);
  font-weight: 100;
  color: #eed;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  font-family: "Share Tech", "Noto Sans", sans-serif;
  padding: 6px;
}

#collapsed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-collapsed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

#color-collapsed-info > .card-color {
  width: 22px;
  height: 22px;
  margin: 1px 1px 5px 1px;
}

#format-collapsed-info {
  margin-top: 4px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 1px;

  color: #eed;
  font-family: "Share Tech", monospace;
  font-variant: small-caps;
}

#card-count-collapsed-info {
  margin-top: 10px;
  font-weight: 900;
}

#collapsed-count-info {
  margin-bottom: 0px;
}

#card-count-collapsed-info > hr {
  height: 2.3px;
  background-color: white;
  border: none;
}

#collapsed-count-info {
  width: 100%;
  text-align: center;
}

#display-section {
  flex-grow: 5;
  height: 100%;
  /*background-color: #333;*/
  background-image: url("https://th.bing.com/th/id/OIP.iHqYoRUCtV98zJH7cFU7DgHaEK?rs=1&pid=ImgDetMain");
  background-position: center;
  background-size: cover;
  flex-shrink: 1;
  overflow: hidden;
  border-image: fill 1 linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 0 15em rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: stretch;
  max-width: 100%;
}

/*#display-section::-webkit-scrollbar {
  height: 0;
}*/

#card-display-container {
  width: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  overflow: auto;
  height: 100%;
}

#display-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.context-menu {
  position: absolute;
  top: -500px;
  left: -500px;
  background-color: #111;
  border-radius: 5px;
  width: max-content;
  padding: 2px 3px 3px 3px;
}

#commander-menu {
  min-width: 100px;
}

.context-menu-item {
  margin-top: 1px;
  width: 100%;
  background-color: #111;
  border-radius: 5px;
  border: 2px solid #111;
  transition: all 0.3s ease;
  padding: 3px 6px 3px 5px;
  cursor: pointer;
  font-size: 11pt;
}

.context-menu-item.disabled {
  color: #888;
}

.context-menu-item:not(.disabled):hover {
  border-color: #666;
  background-color: #222;
}

#drag-image {
  position: absolute;
  z-index: 3;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  height: 321.875px;
  width: 231px;
  background-color: #0009;
  border-radius: 12px;
  filter: drop-shadow(0 4px 7px rgba(30, 30, 30, 0.5));
}

#display-flex {
  display: flex;
}

.display-column:not(.hidden) {
  margin-right: 20px;
}

.display-column:not(.hidden):last-of-type {
  margin-right: 0px;
}

.display-column {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/*#creature-display-container {
  display: block;
}*/

.card-type-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 16px;
}

.card-type-title {
  font-size: 1.3em;
  font-weight: 100;
  color: #eed;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  font-family: "Share Tech", "Noto Sans", sans-serif;
  /*position: relative;
  z-index: 0;*/
}

/*.card-type-title::after {
  content: "CREATURES";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: linear-gradient(
    90deg,
    rgba(255, 77, 77, 1) 0%,
    rgba(255, 156, 143, 1) 50%,
    rgba(255, 77, 77, 1) 100%
  );
  z-index: -1;
  color: transparent;
  filter: blur(0.1em);
  background-clip: text;
}*/

textarea {
  resize: none;
}

.card-container {
  display: flex;
  user-select: none;
}

#display-flex.collapsed-view .card-count-btn {
  visibility: hidden;
}

/* nth-child(n + 3) here */
.card-container:not(.dragging):nth-of-type(n + 2) {
  margin-top: -240px;
}


.card-container:not(.dragging):nth-of-type(n + 2).singleton-view,
.card-container.sideboard-card:not(.dragging):nth-of-type(n + 2),
#display-flex.collapsed-view .card-container:not(.dragging):nth-of-type(n + 2) {
  margin-top: -285px;
}

#sideboard-section {
  border-left: 3px solid rgb(59, 31, 5);
  flex-shrink: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: max-width 0.3s ease, padding 0.3s ease;
}

#sideboard-container {
  padding: 10px;
  min-width: 282px;
}

#sideboard-section.collapsed-view {
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: visible;
  transition: none;
}

#sideboard-tab {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  will-change: transform;
  font-size: 12pt;
  letter-spacing: 1px;
  color: #eed;
  font-family: "Share Tech", monospace;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 31, 5);
  position: absolute;
  top: 2%;
  right: 100%;
  padding: 5px 3px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2;
}

#sideboard-tab > div {
  margin-bottom: 6px;
  font-family: inherit;
}

#sideboard-btn {
  font-size: 14pt;
}

.card-count-column {
  padding: 11px 4px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-count {
  font-size: 14pt;
  font-weight: bold;
  color: #eee;
  /*margin: 16px 4px;*/
}

.card-count-btn {
  padding: 0 5.5px 1px;
  margin-top: 1px;
  border: 2px solid grey;
  border-radius: 15px;
  font-size: 12pt;
  font-family: monospace;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  scale: 0.85;
}

.card-count-add {
  color: rgb(0, 200, 0);
  border-color: rgb(0, 200, 0);
  margin-top: 0;
}

.card-count-add:hover {
  color: rgb(0, 220, 0);
  border-color: rgb(0, 220, 0);
  background-color: rgba(0, 200, 0, 0.2);
}

.card-count-remove {
  color: rgb(200, 0, 0);
  border-color: rgb(200, 0, 0);
}

.card-count-remove:hover {
  color: rgb(230, 0, 0);
  border-color: rgb(230, 0, 0);
  background-color: rgba(230, 0, 0, 0.25);
}

.card-image-wrap {
  position: relative;
  transition: translate 0.1s ease-out;
}

.card-image-wrap.dragging-thumb {
  cursor: -webkit-grabbing;
  cursor: grab;
}

.card-image-toolbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.icon-tool-wrapper {
  font-size: 20pt;
  background-color: #88aae582;
  border-radius: 5px;
  padding: 1px 3px;
  transition: background-color 0.2s ease;
  display: flex;
  cursor: grab;
}

.icon-tool-wrapper:hover {
  background-color: #88aae5b8;
}

.card-image {
  width: 231px;
  border-radius: 12px;
  cursor: pointer;
  transition: translate 0.1s ease-out, box-shadow 0.1s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card-image-wrap:hover .card-image-toolbar{
  opacity: 1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#search-section {
  max-height: 100%;
  /* border-left: 2px solid #444; */
  background-color: #444;
  padding: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#seach-section::-webkit-scrollbar {
  width: 0;
}

#search-input, #scryfall-input {
  width: 264px;
  font-size: 10pt;
}

#scryfall-input {
  font-size: 11pt;
  color: #777;
  white-space: pre;
  overflow-x: scroll;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#scryfall-input::-webkit-scrollbar {
  height: 0px;
}

#scryfall-input>* {
  font-family: inherit;
}

#scryfall-input:focus {
  color: #ddd;
}

#search-err {
  color: red;
  max-width: 100%;
  margin-top: 6px;
}

#search-results {
  overflow-y: auto;
}

.search-card-wrap {
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.search-card {
  margin-top: 6px;
  width: 264px;
  object-fit: cover;
  border-radius: 14px;
  display: block;
}

.search-card-wrap:hover/*,.card-image:hover*/ {
  /*scale: 1.142857;*/
  translate: 0 -3px;
  filter: drop-shadow(0 4px 7px rgba(30, 30, 30, 0.5));
  z-index: 0;
}

#search-loading-container,
#no-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 4em;
  align-items: center;
}

#search-loading-anim {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-loading-anim > * {
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(90, 90, 90);
  box-shadow: 0 0 0.2em rgb(30, 255, 30, 0.4),
    inset 0 0 0.4em rgb(30, 255, 30, 0.1);
  transform: translateY(0);
  border-radius: 1.2em;
  margin: 0.5em;
  animation: search-animation 2.6s ease-in-out infinite;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes search-animation {
  0%,
  5%,
  100%,
  65% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-0.8em);
  }
}

#loading-label,
#no-cards-label {
  color: #cecece;
  font-size: 18pt;
  font-family: "Share Tech", "Airal", sans-serif;
  text-align: center;
}

#no-cards-icon > i {
  font-size: 5.5em;
  color: #cecece;
  margin-bottom: 0.1em;
  filter: drop-shadow(0 0 0.1em rgba(30, 255, 30, 0.3));
}

.card-image-hover {
  /*scale: 1.142857;*/
  translate: 0 -3px;
  z-index: 1;
}

.card-image-hover .card-image {
  filter: drop-shadow(0 4px 7px rgba(30, 30, 30, 0.5));
}

#modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#card-viewer-container,#settings-container {
  background-color: #333;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em 1.6em 1.6em;
}

.card-viewer-image {
  width: 330px;
  margin-top: 10px;
}

.card-viewer-count-row {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.card-viewer-input-label {
  margin-right: 8px;
  margin-top: 6px;
  font-family: "Share Tech", "Arial", sans-serif;
  font-size: 18pt;
  color: #eed;
}

.card-viewer-count-row > .card-viewer-count-input {
  width: 5em;
}

.card-viewer-spacer {
  visibility: hidden;
  flex-grow: 1;
}

.card-viewer-close-btn,#settings-close-btn,#settings-header-offset {
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  margin-top: 8px;
}

.card-viewer-close-btn:hover,#settings-close-btn:hover {
  color: #eb3324;
}

#settings-container {
  height: 85vh;
  width: 65vw;
  background-color: #282828;
}

#settings-header {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  margin-top: -4px;
}

#settings-title {
  font-size: 13pt;
  color: white;
  margin: 0 auto;
}

#settings-close-btn,#settings-header-offset {
  margin-top: 0;
}

#settings-flex {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#settings-tab-container {
  flex-grow: 0;
  min-width: 125px;
  flex-shrink: 0;
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  align-items:end;
}

.settings-tab {
  width: 100%;
  margin-bottom: 4px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  font-size: 12pt;
  color: white;
  text-align: right;
  padding: 3px 5px;
  cursor: pointer;
  white-space: nowrap;
}

.settings-tab:not(.selected):hover {
  color: #c4c4c4;
}

.settings-tab.selected {
  background-color: #1b1b1b;
  animation: tabAnimation 0.5s var(--ease-out-cubic);
  direction: rtl;
}

@keyframes tabAnimation {
  0% {
    overflow-x: visible;
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#settings-options-container {
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 3px;
}

#settings-options-container::-webkit-scrollbar,
.settings-option::-webkit-scrollbar {
  width: 0px;
}

.settings-option {
  background-color: #1b1b1b;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.settings-option:first-child {
  border-top-left-radius: 0;
}

.settings-option:not(.selected) {
  display: none;
}

.setting-header {
  font-size: 12pt;
  color: #e2e2e2;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
  padding: 8px 0 0 0;
}

#background-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.background-image-wrap {
  border: 4px solid transparent;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.background-image-wrap.selected {
  border-color: rgba(0, 68, 255, 1);
}

.background-image-wrap:not(.selected):hover {
  border-color: #666;
  border-radius: 3px;
}

.background-img {
  background-image: var(--url);
  width: 192px;
  height: 108px;
  background-position: center;
  background-size: cover;
}

.card-symbol-W {
  background-image: url("../images/whiteMana.svg");
}

.card-symbol-U {
  background-image: url("../images/blueMana.svg");
}

.card-symbol-B {
  background-image: url("../images/blackMana.svg");
}

.card-symbol-R {
  background-image: url("../images/redMana.svg");
}

.card-symbol-G {
  background-image: url("../images/greenMana.svg");
}

.card-symbol-C {
  background-image: url("../images/colorlessMana.svg");
}

.card-color {
  display: inline-block;
  margin: 1px 1.5px -1px 1.5px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  text-indent: -999em;
  overflow: hidden;
  width: 24px;
  height: 24px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top left;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}

.card-symbol {
  display: inline-block;
  margin: 1px 1px -1px 1px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  -webkit-box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.85);
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.85);
  text-indent: -999em;
  overflow: hidden;
  width: 15px;
  height: 15px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top left;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

@media only screen and (max-width: 1200px) {
  #search-input, #scryfall-input {
    width: 231px;
  }

  .search-card {
    width: 231px;
    border-radius: 10px;
  }

  .card-color {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #search-input, #scryfall-input {
    width: 198px;
  }

  .search-card {
    width: 198px;
    border-radius: 10px;
  }

  .card-image,
  .commander-display-image {
    width: 198px;
    border-radius: 10px;
  }

  #sideboard-container {
    min-width: 249px;
  }

  .commander-display-image:nth-child(2) {
    margin-left: -174px;
  }

  .card-count-column {
    padding: 8px 4px;
  }

  .card-container:not(.dragging):nth-of-type(n + 2) {
    margin-top: -195px;
  }
  
  .card-container:not(.dragging):nth-of-type(n + 2).singleton-view,
  .card-container.sideboard-card:not(.dragging):nth-of-type(n + 2),
  #display-flex.collapsed-view .card-container:not(.dragging):nth-of-type(n + 2) {
    margin-top: -245px;
  }
}
